.logo {
	width: 120px;
}
.content {
	margin-left: 30px;
	margin-right: 30px;
}

.modal-dialog{
  max-width: 1000px;
  margin: 1.75rem auto;
}



.format {
	height: 30px;
	width: 26px;
	margin-right: 10px;
}
.dropdown-menu {
	background: none;
  border: none;
}

.dropdown-item{
  margin-top: 10px;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,196,253,1) 0%, rgba(102,132,228,1) 100%);
	border: none;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 35px 10px 35px !important;
	border-radius: 30px;
	color: white;
}
.tem {
	width: 200px;
	display: block;
}
h3 {
	font-weight: 500;
	color: #240052;
}
.text-modal {
	font-size: 15px;
	font-weight: 400;
	color: #6F5591;
}
.share {
	background: #5A55F7;
	border: none;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	border-radius: 30px;
	color: white;
}
.donate {
	background: none;
	border: none;
	font-weight: bold;
	color: #5A55F7;
}
.content-thanks {
	padding-bottom: 30px;
}

.main-title{
    margin-top: 10px;
  }
  .images-item {
    width: 48%;
    cursor: pointer;
    padding: 3px;
    max-width: 120px;
  
    &:hover {
      opacity: 0.7;
    }
  }

  .design-preview{
    margin: 20px;
    width: 120px !important;
    height: 120px !important;
    background-color: white;
    border-radius: 10px;
  }

  .design-preview:hover{
    box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
 
  }

  .design-preview img{
    padding-top: 10px;
    width: 100px;
  }

  .logo {
	width: 120px;
}
.content {
	margin-left: 30px;
	margin-right: 30px;
}
.ramdom {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,36,36,1) 0%, rgba(224,169,98,1) 100%);
	border: none;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 35px 10px 35px;
	border-radius: 30px;
	color: white;
	
}
.download {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,196,253,1) 0%, rgba(102,132,228,1) 100%);
	border: none;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 35px 10px 35px !important;
	border-radius: 30px;
	color: white;
	
}

i {
	margin-left: 10px;
}
.format {
	height: 30px;
	width: 26px;
	margin-right: 10px;
}
.dropdown-menu {
	background: none;
	border: none;
}
.tem {
	width: 200px;
	display: block;
}
h3 {
	font-weight: 500;
	color: #240052;
}
.text-modal {
	font-size: 15px;
	font-weight: 400;
	color: #6F5591;
}
.share {
	background: #5A55F7;
	border: none;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	border-radius: 30px;
	color: white;
}
.donate {
	background: none;
	border: none;
	font-weight: bold;
	color: #5A55F7;
}
.content-thanks {
	padding-bottom: 30px;
}

.main-title{
    margin-top: 10px;
  }
  .images-item {
    width: 48%;
    cursor: pointer;
    padding: 3px;
    max-width: 120px;
  
    &:hover {
      opacity: 0.7;
    }
  }
  
 
  
  .custom-item {
    border-bottom: 2px solid #f3f3f3;
  
    .custom-item-title {
      color: #9491F6;
      font-weight: 500;
    }
  
    .custom-item-body {
      padding: 10px 0;
    }
  }
  
  .max-height{
    padding: 0px;
    overflow: auto;
    max-height: 450px;
  }
  
  .max-height::-webkit-scrollbar {
    width: 10px;
  } 
  .max-height::-webkit-scrollbar-thumb {
  background-color: #240052; 
  border-radius: 5px
  }

  //Custom css
  .title-left {
    font-weight: bold;
    color: #240052;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
  }
  .input-text{
    padding:0px 20px 0px 20px ;
    height: 45px;
    width: 195px;
    border: none;
    box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
    border-radius: 10px;
  }

  .btn {
    border: none;
    background-color: transparent;
    padding: 0px;
    
  }

.figure {
    margin-right: 10px;
  }

  .image-btn{
    height: 70px;
  }
  .image-figure{
    height: 45px;
    
  }
  .images-item-upload{
    text-align: center;
    height: auto;
    width: 150px !important;
  }
  .img-btn{
    width: 70px;
  }
  .btn-del{
  background-color: transparent;
  border: none;
  }

  .upload-image{
    
    background-color: white;
    padding-bottom: 0px !important;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
  }

  .custom{
    background-color: white;
    
    padding-bottom: 0px !important;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
  }



.nav-tabs{
    border-bottom: none;
  }
  .nav-tabs li{
    color: #5A55F7;
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
  }
  .nav-tabs li a{
    color: #5A55F7;
  }
.images-item{
  padding: 20px;
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
  margin: 8px;
}

#pill li.active>a{
  background: #5A55F7;
  box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
  border-radius: 30px;
  color: white;
  }
  #pill a{
    color: #240052;
    }

  .add-asset{
    background-color: #F6F8FD;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
  }
  
.action{
  background-color: #F6F8FD;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(11, 11, 11, 0.16);
}   

.domain-title{
  font-weight: 500;
    font-size: larger;
    padding-top: 10px;
    color: #5A55F7;
}


.img-view{
  position: absolute;
 width: 600px;
}

#main-editor{
    margin-top: 30px;
}
  