.row {
  margin: 15px 20px 0px 20px;
}

html,
body {
  height: 100%;
}

body {
    background-color: #EDF1FC;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
