<div class="row">
    <div class="col-1"></div>
    <div class="col-4 text">
        <h1>2TFlat</h1>
        <br>
        <br>
        <p>Mix-&-match illustrations of people with a design library</p>
        <br>
        <button class="btnc select-domain" routerLink="by-domain">Get the suggestion made just for you!</button> 
        <br>
        <br>
        <button class="btnc go-to" routerLink="editor" >Go to Editer</button>
        <br>
        <br>
        <button class="btnc go-to" routerLink="main-page">Go to Customize</button>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <img src="assets/img/bgg.svg">
    </div>
    <div class="col-1"></div>
</div>